.formUserLogContent {
  font-size: 24px;
  width: fit-content;
  padding: 5rem 10rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(250px, 1fr));
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  text-align: center;
  border-radius: 25px;
  color: var(--text-primary);
  max-width: 700px;
  position: relative;
}

.formUserLogContent::after{
  content: '';
  left: 0;
  bottom: 0;
  background: var(--bg-secondary);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
}

.labelFormLog {
  text-transform: uppercase;
  color: var(--text-secondary);
  letter-spacing: 32px;
  font-size: 32px;
}

.inputFormLog {
  padding: 5px;
  font-size: 24px;
  width: 50%;
  border-style: none;
  border-top: 1 solid white;
  border-left: 0;
  border-right: 0;
  background-color: transparent;
  margin: 2rem 0;
  color: var(--text-primary);
}

.inputFormLog:focus {
  outline: none;
}

.inputFormLog::placeholder {
  color: var(--logo-secondary);
  opacity: 0.6;
}

.formUserLogContent a {
  text-decoration: none;
  color: var(--hovercolor1);
  font-weight: bolder;
}

.submitFormLog {
  background-color: var(--text-primary);
  color: var(--bg-secondary);
  border: none;
  margin-top: 2rem;
  font-size: 24px;
  padding: 0.5rem;
  width: 60%;
}

p#usernameError, p#emailError, p#passwordError, p#errorUserLog {
  font-size: 16px;
  color: var(--hovercolor1);
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
}

#contentRegister{
  margin-top: 5%;
}

@media only screen and (max-width: 600px) {
  .formUserLogContent {
    padding: 1rem 5rem;
    width: 50%;
    justify-content: center;
    font-size: 20px;
  }
  .formUserLogContent button {
    margin-top: 0.5rem;
    padding: 5px;
    font-size: 20px;
  }
  .inputFormLog {
    width: 100%;
    padding: 0;
    font-size: 20px;
  }

  .labelFormLog {
    text-align: center;
    letter-spacing: 15px;
    font-size: 24px;
  }
}
