/*-------------Var------------*/
:root {
  --blackcolor: rgb(39, 45, 47);
  --hovercolor1: #ff004c;
  --hovercolor2: #00ffe8;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #302c35;
  --bg-secondary: #26262c;
  --bg-shadow: #1a1a1d;
  --btn-primary: #2d1f3d;
  --btn-seondary: #22182c;
  --transition-speed: 600ms;
  --logo-primary: #f1efce;
  --logo-secondary: #8c8b6f;
  --text-btn: #ececec;

  font-size: 16px;
}

@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

/*-------------Struc-----------*/

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --bg-count: #09090c;
  --bg-body: url("./img/src/bg1.png");
  --btn-primary: #23232e;
  --btn-secondary: #181822;
  --logo-primary: #f1efce;
  --logo-secondary: #8c8b6f;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
  --bg-count: #232124;
  --bg-body: url("./img/src/bg2.png");
  --btn-primary: #313131;
  --btn-secondary: #272625;
  --logo-primary: #71767e;
  --logo-secondary: #4c4d57;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.icon-shop-nav {
  width: 30px;
}

body {
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  background: var(--bg-body);
  color: var(--text-primary);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Quicksand", sans-serif;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background: #52189e;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0px 1000px var(--bg-secondary) inset;
  -webkit-box-shadow: 0 0 0px 1000px var(--bg-secondary) inset;
  -webkit-text-fill-color: var(--text-primary);
}

.iconweb {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.BlackEdge_image {
  padding-left: 50px;
}

img.logo {
  width: 400px;
}

/* =================================MEDIA======================= */

@media only screen and (max-width: 600px) {

  /* ======================= PRODUCTOS =========================*/

  .headerKind {
    padding-top: 80px;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 32px;
    margin-left: 32px;
  }

  /* ===============INDEX MISC============== */

  .main_section {
    display: none;
  }

  .contenido_index {
    margin-top: 0;
    padding: 15px;
  }

  .row-index {
    padding-top: 100px;
  }

  .design_product {
    width: 90%;
  }

  .row {
    margin-top: 10px;
    padding-top: 0px;
  }

  footer {
    display: none;
  }

  .search-shop {
    text-align: center;
  }

  .search-bar-content {
    margin-top: 0;
  }

  .row {
    width: 100%;
  }
  .col1,
  .col2,
  .col3,
  .col4,
  .col5,
  .col6,
  .col6,
  .col7,
  .col8,
  .col9,
  .col10,
  .col11,
  .col12 {
    width: 100%;
  }

  .contenido {
    max-width: 80%;
    margin: auto;
  }

  .desc-product {
    max-width: 80%;
    text-align: left;
    font-size: 14px;
    margin-left: 15px;
    margin-top: 7%;
    color: var(--text-primary);
  }

  .desc-product h1 {
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
  }

  .desc-product button {
    -webkit-transition: ease 0.2s;
    -o-transition: ease 0.2s;
    transition: ease 0.2s;
    margin-top: 15px;
    text-align: left;
    width: 100%;
    font-size: 16px;
    color: #f0f0f0;
    background-color: var(--blackcolor);
    padding: 15px;
    border-style: none;
    text-align: center;
    -webkit-box-shadow: 0 0 15px #000;
    box-shadow: 0 0 15px #000;
  }

  .desc-product2 {
    max-width: 80%;
    text-align: right;
    font-size: 14px;
    margin-right: auto;
    margin-top: 7%;
    color: var(--text-primary);
  }

  .desc-product2 h1 {
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
  }

  .desc-product2 button {
    -webkit-transition: ease 0.2s;
    -o-transition: ease 0.2s;
    transition: ease 0.2s;
    margin-top: 15px;
    text-align: right;
    width: 100%;
    font-size: 16px;
    color: #f0f0f0;
    background-color: var(--blackcolor);
    padding: 15px;
    border-style: none;
    text-align: center;
    -webkit-box-shadow: 0 0 15px #000;
    box-shadow: 0 0 15px #000;
  }
}

/* =============PRODUCT DETAIL================= */

.descProductDetail {
  margin: 0;
  font-size: 16px;
}

.priceProductDetail {
  font-size: 16px;
}

.btnProductDetail {
  padding: 10px;
  font-size: 10px;
}

.nameProductDetail {
  font-size: 24px;
  letter-spacing: 2px;
  margin-bottom: 50px;
}

/* =============LOGIN AND REGISTER================== */

.content-login {
  margin-top: 40%;
}

/* ====================BODY===================== */

body::-webkit-scrollbar {
  display: none;
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg {
    margin-left: 12.5rem;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }
  .nameProductDetail {
    font-size: 54px;
    letter-spacing: 20px;
    margin-bottom: 50px;
  }
}
